--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
xformers
evaluate
datasets
accelerate
transformers[torch-cpu]
ipywidgets
matplotlib
streamlit
streamlit_jupyter
fastapi
uvicorn[standard]
pydantic